<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p>There is a new contact request from diamondsurfboards.com</p>
<p>To view the details of this request login to your account by going to http://www.diamondsurfboards.com/users/sign_in.</p>
<p>Contact Details</p>
<p><b>Name:</b> <%= @contact.contact_name %></p>
<p><b>Email:</b> <%= @contact.contact_email %></p>
<p><b>Email:</b> <%= @contact.contact_phone %></p>
<p><b>Request:</b> <%= @contact.contact_help %></p>
<p><b>Created:</b> <%= @contact.created_at %></p>
  
  </body>
</html>
