

<%= form_for(@dimension) do |f| %>
  <% if @dimension.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dimension.errors.count, "error") %> prohibited this dimension from being saved:</h2>

      <ul>
      <% @dimension.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

       <div class="form-group">
    <%= f.label "length (inches)" %><br>
    <%= f.text_field :length, class: "form-control" %>
  </div>
      <div class="form-group">
    <%= f.label "width (inches)" %><br>
    <%= f.text_field :width, class: "form-control"  %>
  </div>
      <div class="form-group">
    <%= f.label "thickness (inches)" %><br>
    <%= f.text_field :thickness, class: "form-control"  %>
  </div>

      <div class="form-group">
<%= f.label :board_id %><br />
    <%= collection_select(:dimension, :board_id, @boards, :id, :board_name, {:prompt => false}) %> 
  </div>
  

 
      <div class="form-group">
    <%= f.label "volume (litres)" %><br>
    <%= f.text_field :volume, class: "form-control"  %>
  </div>
  <div class="actions">
    <%= f.submit "Create Dimension", class: "btn btn-default" %>
  </div>
<% end %>
