
<% @users = User.all %>
<h1>Diamond Users</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Account Info:</th>
      <th>Activity:</th>
     
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
      	  <td></td>
      <td>
          <b><i>Email:</b></i> <%= user.email %> </td> 

       </td>
      <td><b><i>Number of Logins:</b></i> <%= user.sign_in_count %> <br />
          <b><i>Last Sign In Time:</b></i>  <%= user.last_sign_in_at %><br />
          <b><i>Last Sign In IP:</b></i>  <%= user.last_sign_in_ip %><br />
          <b><i>Created:</b></i>  <%= user.created_at.to_formatted_s(:short) %> <br />
  
  
        </td>

      </tr>
    <% end %>
  </tbody>
</table>