<h1>Contacts (<%= Contact.count %>)</h1>
<%= link_to 'Create a New Contact', new_contact_path, class: "btn btn-default" %>
<table class="table table-responsive table-hover">
  <thead>
    <tr>
      <th>Created</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>How we can help</th>
      <th>Notes</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.created_at.to_formatted_s(:short) %></td>
        <td><%= contact.contact_name %></td>
        <td><%= contact.contact_email %></td>
        <td><%= contact.contact_phone %></td>
        <td><%= contact.contact_help %></td>
        <td><%= contact.contact_notes %></td>
        <td><%= contact.contact_status %></td>
      
        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


