<h1>Listing contacts</h1>

<table>
  <thead>
    <tr>
      <th>Contact name</th>
      <th>Contact email</th>
      <th>Contact phone</th>
      <th>Contact help</th>
      <th>Contact notes</th>
      <th>Contact status</th>
      <th>—no-stylesheets</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.contact_name %></td>
        <td><%= contact.contact_email %></td>
        <td><%= contact.contact_phone %></td>
        <td><%= contact.contact_help %></td>
        <td><%= contact.contact_notes %></td>
        <td><%= contact.contact_status %></td>
      
        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_contact_path %>
