
<div class="row">
<div class="col-md-12">
 <h1><%= @board.board_name %></h1>
</div><!-- end md 4 -->
</div><!-- end row -->

<div class="row">
<div class="col-md-12" id="spacer"></div><!-- end md 4 -->
</div><!-- end row -->

<div class="row">
          <div class="col-md-2">
                        <h4>Boards</h4>
                        <% @boards.each do |board| %>
                        <%= link_to board.board_name, board %><br />
                        <% end %>
          </div><!-- end md 2 -->

          <div class="col-md-10">
            <div class="row">
                    <div class="col-md-5 text-left">
                              <% if @board.triimage.present? %>
                              <%= image_tag @board.triimage.url(:medium), class: "img-responsive" %>
                              <% end %>
                            </div><!-- end md 4 -->
                            <div class="col-md-7 text-left">
                                <br />
                                    <% if @board.logo.present? %>
                                    <%= image_tag @board.logo.url(:medium), class: "img-responsive" %>
                                <% end %>
                                <br />
                                <p><%= @board.board_description %></p>
                                <p>Category: <%= @board.category %></p>
                                <p>Category: <%= @board.type.type_name %></p>
                                <center> 
                                   <% if @board.waveheightlogo.present? %>
                                   <%= image_tag @board.waveheightlogo.url(:medium), class: "img-responsive" %>
                                 <% end %>
                                 </center><br />
                                       <center>
                                        <% if @board.rockerlogo.present? %>
                                        <%= image_tag @board.rockerlogo.url(:medium), class: "img-responsive" %>
                                        <% end %>
                                        </center><br />
                                              <center>
                                                 <% if @board.skilllogo.present? %>
                                                <%= image_tag @board.skilllogo.url(:medium), class: "img-responsive" %>
                                              <% end %>
                                              </center><br />
                                </div><!-- end md 4 -->
                        </div><!-- end row -->

            <div class="row">
                  <div class="col-md-4">
                    <h4>Stock Sizes</h4>
                        <table class="table table-condensed">
                                  <thead>
                                    <tr>
                                      <th>Length</th>
                                      <th>Width</th>
                                      <th>Thickness</th>
                                      <th>Volume</th>
                                      <th colspan="3"></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <% @board.dimensions.each do |dimension| %>
                                      <tr>
                                        <td><%= dimension.length %></td>
                                        <td><%= dimension.width %>"</td>
                                        <td><%= dimension.thickness %>"</td>
                                        <td><%= dimension.volume %>L</td>
                                        <td>
                                          <% if user_signed_in? %><%= link_to 'Edit', edit_dimension_path(dimension) %> &nbsp
                                        <%= link_to 'Delete', dimension, method: :delete, data: { confirm: 'Are you sure?' } %>
                                          <% end %>
                                      </td>
                                      </tr>
                                    <% end %>
                                  </tbody>
                                </table>
                  </div><!-- end md 4 -->
                  <div class="col-md-4"></div><!-- end md 4 -->
                  <div class="col-md-4"></div><!-- end md 4 -->
            </div><!-- end row -->


            </div><!-- end md 4 -->
            </div><!-- end row -->




<% if user_signed_in? %>
<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
<% end %>




</div><!-- end md 4 -->
<div class="col-md-2"></div><!-- end md 4 -->
</div><!-- end row -->







